:root {
  --primary: #92B4EC;
  --second: #FFD24C;
  --black: #242D49;
  --gray: #788097;
  --blueCard: #DDF8FE;
  --purple: rgb(238 210 255);
  --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
  --orangeCard: rgba(96, 122, 207, 0.45);
  --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.globaldiv {
  flex-direction: column;
  flex: content;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: relative;
  width: auto;
  padding: 0.2rem 3rem;
}

div.App {
  display: flex;
  font-family: 'MyriadPro';
  color: var(--black);
}

.App {

  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  height: 100%;
  width: 100%;
  max-height: 100%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: 'MyriadProSemiExtended';
  src: url('../public/font/Myriad Pro SemiExtended.otf') format('opentype');
}

body {
  font-family: 'MyriadPro', sans-serif;
  height: 100%;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  

}

::placeholder {
  color: gray;
  font-size: 12px;
  font-family: 'MyriadPro', sans-serif;
}

input[type=password]::-ms-reveal,
input[type=password]::-ms-clear {
  display: none;
}

#inputID::placeholder {
  color: gray;
  font-family: 'MyriadPro', sans-serif;
}

.DrawerButton_Container {
  border-radius: 10px;
  display: grid;
  margin: 3rem;
  align-items: start;
  justify-content: start;
}

.drawer {
  display: grid;
  align-items: start;
  justify-content: start;
  width: "50%"
}

@media screen and (min-width: 1500px) {
  div.App {
    height: min-content;
    justify-content: center;
    align-items: center;
    justify-self: center;
  }

  .App{
       justify-content: center;
    align-items: center;
    justify-self: center;
  }
}


@media screen and (max-width: 768px) {
  .drawer {
    width: 200px;
  }
  .App {
    font-family: 'MyriadPro';
    color: var(--black);
  }
}

@media (max-width: 480px) {
  .App {
    font-family: 'MyriadPro';
    color: var(--black);
  }
  .globaldiv {
    display: flex;
    flex-direction: column;
    flex: content;
    position: relative;
    width: 100%;
    padding: 0.2rem 1rem;
  }
}

@media (max-width: 280px) {
  .App {
    font-family: 'MyriadPro';
    color: var(--black);
  }
  .globaldiv {
    display: flex;
    flex-direction: column;
    flex: content;
    position: relative;
    width: 100%;
    padding: 0.2rem 1rem;
  }
}
