body {
 
  font-family: 'MyriadPro', sans-serif;
  -webkit-font-smoothing: 'MyriadPro';
  -moz-osx-font-smoothing: 'MyriadPro';
  
}

code {
  font-family: 'MyriadPro', sans-serif;
  height: 100%;
}
@font-face {
  font-family: 'MyriadPro';
  src: url('../public/font/Myriad\ Pro\ Light.otf') format('opentype');
  /* Add additional src declarations for different font weights or styles */
}